{% extends "layout.html" %}

{% block body %}
  <div class="homepage-hero">
    <div>
      <h1>c7lo</h1>
      <p>imagine all the people living life in peace <svg class="hero-flag" viewBox="0 0 720 504" xmlns="http://www.w3.org/2000/svg"><rect width="720" height="504" fill="#009c3b"/><polygon points="360,42 668,252 360,462 52,252" fill="#ffdf00"/><circle cx="360" cy="252" r="120" fill="#002776"/><path d="M 240,252 Q 300,200 480,232" stroke="#fff" stroke-width="12" fill="none"/></svg></p>
    </div>
  </div>
{% endblock %}
